@import url('demo.css');
@import url('font-awesome.css');

@CHARSET "UTF-8";

html  {
  height: 100%;
}

body {
  height: 100%;
  margin: 0px;
  padding: 0px;
	overflow: visible;
}

/* BODY속 container 시작 */
.container {
  position: relative;
  padding: 0px;
  width: 100%;
  height: 100%;
  min-width: 1024px;
  min-height: 768px;
}
#gallery{
		z-index:1;
}
#gallery div { 
	width: 100%; 
	height: 100%; 
	background-size:cover;
	min-width: 1024px;	
	min-height: 768px;
}
/* BODY속 container 끝 */

/* 멘트 영역 부분 시작 */
#mainText {
	z-index: 1;
  width: 500px;
  height: 220px;
  position: absolute;
  top: 250px;
  left: 150px;
  font-weight: lighter;
  font-size: 40px;
  color: antiquewhite;
  text-shadow: darkgray 1px 1px 1px;
  font-family: sans-serif;
  /*border: 1px solid red;*/
}

.intext {
    font-size: 45px;
    font-weight: bolder;
}
/* 멘트 영역 부분 끝 */

/* 로그인 영역 배경 시작 */
#null {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 25%;
  right: 5%;
  z-index:2;
  /*#2B2547*/
  
  background-color: RGB(25, 25, 25);
  opacity: 0.9;
  border-radius: 8px 8px 8px 8px;
  
  float: left;
}
/* 로그인 영역 배경 끝 */

/* 로그인 영역 설정 시작 */
.form-4 {
    width: 300px;
    position: absolute;
    top: 30%;
    right: 8%;
 		z-index: 4;
    float: left;
    
    /* Font styles */
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
    color: white;
    text-shadow: 0 2px 1px rgba(0,0,0,0.3);
}

/* 로그인폼 텍스트 */
#topText {
	font-size: 25px;
	text-align: left;
	padding-top: 10px;
	margin-bottom: 15px;
    border-bottom: 1px solid darkred;
    border-bottom-width: 2px;
    font-weight: normal;
    color: white;
    /*text-shadow: white 1px 1px 1px;*/
}

#now {
    color: darkred;
    font-weight: bold;
}

#textMycar {
    color: darkred;
    font-weight: bold;
}

/* 로그인폼 CSS */
.form-4 input[type=text],
.form-4 input[type=password] {
    width: 100%;
    padding: 8px 4px 8px 10px;
    margin-bottom: 15px;

    border: 1px solid #4e3043;
    border: 1px solid rgba(78,48,67, 0.8);
    background: rgba(0,0,0,0.5);
    border-radius: 2px;
    box-shadow: 
        0 1px 0 rgba(255,255,255,0.2), 
        inset 0 1px 1px rgba(0,0,0,0.1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    font-family: 'Raleway', 'Lato', Arial, sans-serif;
    color: #fff;
    font-size: 13px;
}

.form-4 input::-webkit-input-placeholder {
    color: white;
    text-shadow: 0 1px 0 rgba(255,255,255,0.15);
}

.form-4 input:-moz-placeholder {
    color: white;
    text-shadow: 0 1px 0 rgba(255,255,255,0.15);
}

.form-4 input:-ms-input-placeholder {
    color: white;
    text-shadow: 0 1px 0 rgba(255,255,255,0.15);
}

.form-4 input[type=text]:hover,
.form-4 input[type=password]:hover,
.form-4 input[type=submit]:hover {
    border-color: white;
}

.form-4 input[type=text]:focus,
.form-4 input[type=password]:focus {
    box-shadow: 
        0 1px 0 rgba(255,255,255,0.2), 
        inset 0 1px 1px rgba(0,0,0,0.1),
        0 0 0 3px rgba(255,255,255,0.15);
    outline: none;
}

.no-boxshadow .form-4 input[type=text]:focus,
.no-boxshadow .form-4 input[type=password]:focus {
    outline: 1px solid white;
}

.form-4 input[type=button] {
    width: 100%;
    padding: 8px 5px;
    
    background: #634056;
    background: -moz-linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));
    background: -ms-linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));
    background: -o-linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(99,64,86,0.5)), to(rgba(76,49,65,0.7)));
    background: -webkit-linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));
    background: darkred;
    border-radius: 5px;
    border: 1px solid #4e3043;
    box-shadow: inset 0 1px rgba(255,255,255,0.4), 0 2px 1px rgba(0,0,0,0.1);
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    color: white;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    font-size: 16px;
    font-weight: bold;
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
}

.form-4 input[type=button]:hover {
    background: red;
    border: 1px solid white;
}

.no-boxshadow .form-4 input[type=button]:hover {
    background: #594642;
    border: 1px solid white;
}

.form-4 label {
    display: none;
    padding: 0 0 5px 2px;
    cursor: pointer;
}

.form-4 label:hover ~ input {
    border-color: #333;
}

.no-placeholder .form-4 label {
    display: block;
}

#saveLabel {
	display: inline-block;
}

#goJoin {
  float: right;
}

a:link, a:visited {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

A:hover {
	color:white; 
	background-color: Highlight;
	color: HighlightText; 
	text-decoration:underline;
}

/* 로그인 영역 설정 끝 */

/* 회원가입 영역 모달 처리 시작 */
#loginmodal{
	border:3px solid white;
}

#lean_overlay {
    position: fixed;
    z-index: 5;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}


#loginmodal {
  width: 470px;
  height:400px;  /*팝업창의 크기조절*/
  margin-top:100px;           /*팝업창 위아래 간격조절*/
  padding: 18px;
  background-color: RGB(10, 10, 10);
  opacity: 0.9;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

/* 모달 영역 처리 끝 */

.input {
  width: 430px;
  position: absolute;
  z-index: 4;

  font-family: 'Raleway', 'Lato', Arial, sans-serif;
  color: white;
  text-shadow: 0 2px 1px rgba(0,0,0,0.3);
}

.input label:hover ~ input {
    border-color: #333;
}

.input label {
    display: block;
}

/* 로그인폼 텍스트 */
.input #topText {
  font-size: 25px;
  text-align: left;
  padding-top: 1px;
  margin-bottom: 15px;
    border-bottom: 1px solid darkred;
    border-bottom-width: 2px;
    font-weight: normal;
    color: white;
    /*text-shadow: white 1px 1px 1px;*/
}

.input #now {
    color: darkred;
    font-weight: bold;
}

.input #textMycar {
    color: darkred;
    font-weight: bold;
}

.input #imgInput {
  margin-left: 10px;
  margin-right: 10px;
  float: left;
  width: 150px;
  text-align: center;
}

.input #imgInput img {
  height: 100px;
  width: 100px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.input #imgInput label {
  display: inline-block;
  padding: .5em .75em;
  
  background: darkred;
  border-radius: 5px;
  border: 1px solid #4e3043;
  box-shadow: inset 0 1px rgba(255,255,255,0.4), 0 2px 1px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: all 0.3s ease-out;
  
  color: white;
  text-shadow: 0 1px 0 rgba(0,0,0,0.3);
  font-size: 16px;
  font-weight: bold;
  font-family: 'Raleway', 'Lato', Arial, sans-serif;
}

.input #imgInput input {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}

.input #textInput input[type=text], 
.input #textInput input[type=password] {
  width: 140px;
}

.input #textInput input[type=text],
.input #textInput input[type=password] {
  padding: 8px 4px 8px 10px;
  margin-bottom: 15px;

  /* Styles */
  border: 1px solid #4e3043; /* Fallback */
  border: 1px solid rgba(78,48,67, 0.8);
  background: rgba(0,0,0,0.5);
  border-radius: 2px;
  box-shadow: 
      0 1px 0 rgba(255,255,255,0.2), 
      inset 0 1px 1px rgba(0,0,0,0.1);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;

  /* Font styles */
  font-family: 'Raleway', 'Lato', Arial, sans-serif;
  color: #fff;
  font-size: 13px;
}

#imgInput label:hover, 
.input #textInput input[type=button]:hover, 
#button input[type=button]:hover,
#button input[type=submit]:hover {
    background: red;
    border: 1px solid white;
    
    /*box-shadow: 
        inset 0 1px rgba(255,255,255,0.5), 
        inset 0 20px 30px rgba(145,0,0,0.5);*/
}

.input #textInput input::-webkit-input-placeholder {
    color: white;
    text-shadow: 0 1px 0 rgba(255,255,255,0.15);
}

.input #textInput input:-moz-placeholder {
    color: white;
    text-shadow: 0 1px 0 rgba(255,255,255,0.15);
}

.input #textInput input:-ms-input-placeholder {
    color: white;
    text-shadow: 0 1px 0 rgba(255,255,255,0.15);
}

.input #textInput input:hover, 
#imgInput label:hover, 
#button input:hover {
    border-color: white;
}

.input #textInput input:focus, #imgInput label:focus, #button input:focus {
    box-shadow: 
        0 1px 0 rgba(255,255,255,0.2), 
        inset 0 1px 1px rgba(0,0,0,0.1),
        0 0 0 3px rgba(255,255,255,0.15);
    outline: none;
}

.input #textInput input:focus {
    outline: 1px solid white;
}

.input #textInput label {
    display: none;
    padding: 0 0 5px 2px;
    cursor: pointer;
}

.input #button {
  text-align: center;
}

.input #button input {
  margin-left: 10px;
}

.input #button input{
    /* Size and position */
    width: 100px;
    padding: 8px 5px;
    
    /* Styles */
    background: #634056;
    background: -moz-linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));
    background: -ms-linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));
    background: -o-linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(99,64,86,0.5)), to(rgba(76,49,65,0.7)));
    background: -webkit-linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));
    background: darkred; /* linear-gradient(rgba(0,0,0,0.5), rgba(255,255,255,0.7));    */
    border-radius: 5px;
    border: 1px solid #4e3043;
    box-shadow: inset 0 1px rgba(255,255,255,0.4), 0 2px 1px rgba(0,0,0,0.1);
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    /* Font styles */
    color: white;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    font-size: 16px;
    font-weight: bold;
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
}

.input #check {
  /* Size and position */
    width: 80px;
    padding: 8px 5px;
    margin-left: 5px;
    
    /* Styles */
    background: #634056;
    background: -moz-linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));
    background: -ms-linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));
    background: -o-linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(99,64,86,0.5)), to(rgba(76,49,65,0.7)));
    background: -webkit-linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));
    background: darkred; /* linear-gradient(rgba(0,0,0,0.5), rgba(255,255,255,0.7));    */
    border-radius: 5px;
    border: 1px solid #4e3043;
    box-shadow: inset 0 1px rgba(255,255,255,0.4), 0 2px 1px rgba(0,0,0,0.1);
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    /* Font styles */
    color: white;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    font-size: 16px;
    font-weight: bold;
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
}