.btn_set {
  right: 47px;
}
.btn_color:hover {
	background-color:rgb(163, 163, 220);
	color:rgb(255,255,255);
	outline:none;
}
.btn_color:focus {
	background-color:rgb(97,100,193);
	color:rgb(255,255,255);
	outline:none;
}
.btn_color {
	background-color:rgb(97,100,193);
	color:rgb(255,255,255);
}
/* 현재 선택된 차량 선택 */
#selectCarName{
 position: relative;
  font-size: 15px;
 /*     float: left; */
    width: auto;
	text-align: center;
	padding: 1em;
}