.btn_set {
	position: absolute;
 	top: 7px;
 right: 47px;
 /* background-color:rgb(97,100,193); */
}
.btn_color:hover {
	background-color:rgb(163, 163, 220);
	color:rgb(255,255,255);
	outline:none;
}
.btn_color:focus {
	background-color:rgb(163, 163, 220);
	color:rgb(255,255,255);
	outline:none;
}
.btn_color {
	background-color:rgb(97,100,193);
	color:rgb(255,255,255);
}