#bline {
		  background: rgb(241,241,241);
}
.slider {
	/* width:600px; */
	margin:20px auto;
	text-align:  center;
}
.temp { 
		  padding: 40px 20px;
		  background: white;
		 	text-align: center; 
}
.slider div {
  margin-right: 5px;
}
.media-heading {
	color: black !important; 
}
.slic-prev,
.slic-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    margin-top: -10px; /*lte IE 8*/
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}