#bline {
		  background: rgb(241,241,241);
}
.slider {
	/* width:600px; */
	margin:20px auto;
	text-align:  center;
}
.temp { 
		  padding: 40px 20px;
		  background: white;
		 	text-align: center; 
}
.slider div {
  margin-right: 5px;
}
.media-heading {
	color: black !important; 
}

#goodsTitle{
  font-size: 20px;
  color: DimGray;
}
