@CHARSET "UTF-8";

#div_imgInput {
	width: 300px;
	float: left;
}

#div_imgInput img {
	margin-top: 20px;
	width: 200px;
}

#div_imgInput label {
  display: inline-block;
  padding: .5em .75em;
  border-radius: 5px;
  border: 1px solid gray;
  cursor: pointer;
  transition: all 0.3s ease-out;
  
  font-size: 16px;
  font-weight: bold;
  font-family: 'Raleway', 'Lato', Arial, sans-serif;
  margin-left: 55px;  
}

#imgInput {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}

#div_imgInput label {
	margin-top: 10px;
}

.form-group label {
	font-weight: bold;
}

.div_textInput {
	margin-top: 20px;
	margin-left: -20px;
	font-size: 20px;
	float: left;
}

#txt_email {
	margin-left: 20px;
}

.nickname2 {
	margin-left: 40px;
}

#checkPwd1, #checkPwd2 {
	font-size: 12px;
}

.form-footer {
	margin-top: 55px;
	margin-left: 80px;
}

.footer_text {
	font-size: 20px;
  font-weight: bold;
  position: relative;
  z-index: 10;
}

#stamp {
	width: 40px;
	margin-top: -22px;
	margin-left: -45px;
	position: relative;
	z-index: 1;
}

.panel-footer {
	border: 0px;
}

.btn_set button {
	border-radius: 2px !important;
}

.btn_color:hover {
  background-color: #627A71 !important;
  color:rgb(255,255,255) !important;
  outline:none !important; 
}

.btn_color:focus {
  outline:none !important; 
}

.btn_color {
  background-color:rgb(65, 65, 65) !important;
  color:rgb(255,255,255) !important;
}