@CHARSET "UTF-8";

.pagination {
	margin: 5px 0px 5px 26px !important;
}

#board-header {
	margin-bottom: -32px;
	background-color: RGB(220, 220, 220);
  box-shadow: 0 -1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
  -webkit-box-shadow: 0 -1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
  -moz-box-shadow: 0 -1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
}

#bcategory,
#btitle,
#bnickname,
#bcreatedDate {
	display: inline;
	position: relative;
}

h3.title {
	font-size: 1.8em;
	color: dimgray;
	margin-bottom: 0.8em;
}

#bnickname {
	float: right;
	font-size: 20px;
}

#bcreatedDate {
  float: right;
  font-size: 20px;
}


#bcontent {
	width: 70%;
	height: 100%;
	display: block;
	margin-bottom: 30px;
	word-break: break-all;
}

#bodyfooter {
	position: relative;
  display: inline;
}

#viewnlike {
	float: right;
	text-align: right;
	position: relative;
}

#likeBtn {
	position: relative;
  display: inline;
}

#addBtn, #updateBtn,
#deleteBtn, #listBtn,
#likeBtn {
	background-color: #eaeaea !important;
}

#addBtn:hover, #updateBtn:hover,
#deleteBtn:hover, #listBtn:hover,
#likeBtn:hover {
	background-color: white !important;
}

#addBtn, #listBtn {
	float: right;
  text-align: right;
}

#listBtn {
	margin-right: 5px;
}

.commentBody {
	margin-top: 10px;
	display: block;
}

#commentTool {
	position: relative;
	display: inline-block;
}

#comment_writer {
	font-weight: bold;
	margin-bottom: 5px;
}

#comment_text {
	resize: none; 
	wrap:hard;
	width: 100%;
}