@CHARSET "UTF-8";

/*.pagination {
	margin: 5px 0px 5px 26px !important;
}*/

#board-header {
	position: relative;
	margin-bottom: -32px;
  box-shadow: 0 -1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
  -webkit-box-shadow: 0 -1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
  -moz-box-shadow: 0 -1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
}

#category, #writebtn {
	display: inline;
	position: relative;
}

#category {
  width: 100px;
  height: 30px;
  webkit-box-sizing: border-box;
  box-sizing:border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  /*margin-left: 2.1%;*/
}

#writebtn {
  float: right;
  background-color: whitesmoke !important;
  color: #4A5279 !important;
  height: 30px;
  text-align: center;
  /*margin-right: 3.3%;*/
}
#writebtn:hover {
  background-color: #9099C7 !important;
  color:  whitesmoke !important;
}

/* h3.title {
	font-size: 1.8em;
	color: dimgray;
	margin-bottom: 0.8em;
} */

#board-footer {
	box-shadow: 0 -1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
  -webkit-box-shadow: 0 -1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
  -moz-box-shadow: 0 -1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
}

#document_navi3 {
	position: relative;
	margin-top: 15px !important;
}


.search_tool {
	/*width: 50%;*/
	/*height: 50px;*/
	/*position: absolute;*/
	/*float: right;*/
	display: inline;
	padding: 11px 0px !important;
	/*margin-right: 3.2%;*/
	/*margin-left: 200px;*/
}

#search_btn {
  background-color: whitesmoke !important;
  color: #4A5279 !important;
  /*float: right;*/
  position: relative;
  /*display: inline;*/
  height: 30px;
  webkit-box-sizing: border-box;
  box-sizing:border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}

#search_btn:hover {
  background-color: #9099C7  !important;
  color:  whitesmoke !important;
}

#searchOption {
	width: 80px !important;
	height: 30px;
	position: relative;
	float: left;
	display: inline;
	webkit-box-sizing: border-box;
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}

h2.title {
	white-space: nowrap;
	overflow:hidden;
  text-overflow: ellipsis;
}

#list_block {
	padding-bottom: 10px;
	font-weight: bold;
}

#list_nick {
	margin: 5px 0px 0px 0px !important;
	padding-bottom: 0px;
}

.viewnlike {
	text-align: right;
	margin: 0 !important;
}

.viewnlike span {
	position: relative;
  display: inline-block;
  margin-right: 5px;
}

.viewnlike span img {
	position: relative;
  display: inline-block;
}

#board-footer {
	white-space: nowrap;
}

#multiPage {
  position: relative;
  float: right;
  margin: -13px;
}