@CHARSET "UTF-8";

.pagination {
	margin: 5px 0px 5px 26px !important;
}

#board-header {
	position: relative;
	margin-bottom: -32px;
	background-color: RGB(220, 220, 220);
  box-shadow: 0 -1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
  -webkit-box-shadow: 0 -1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
  -moz-box-shadow: 0 -1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
}

h3.title {
	font-size: 1.8em;
	color: dimgray;
	margin-bottom: 0.8em;
}

#board-footer {
	background-color: RGB(220, 220, 220);
	box-shadow: 0 -1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
  -webkit-box-shadow: 0 -1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
  -moz-box-shadow: 0 -1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
}

.search-box {
  float: right !important;
  width: 230px !important;
  margin: 5px 37px 5px 0  !important;
  position: relative !important;
  z-index: 1;
  display: inline-block;
  background-color: white;
  position: relative !important;
}

#searchOption {
	float: right;
	margin-right: 100px;
	margin-top: 5px;
	height: 37px;
	width: 100px;
}