@CHARSET "UTF-8";

.pagination {
	margin: 5px 0px 5px 26px !important;
}

#board-header {
	margin-bottom: -32px;
	background-color: RGB(220, 220, 220);
  box-shadow: 0 -1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
  -webkit-box-shadow: 0 -1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
  -moz-box-shadow: 0 -1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
}

#bcategory,
#btitle,
#bnickname,
#bcreatedDate {
	display: inline;
	position: relative;
}

h3.title {
	font-size: 1.8em;
	color: dimgray;
	margin-bottom: 0.8em;
}

#bnickname {
	float: right;
	font-size: 20px;
}

#bcreatedDate {
  float: right;
  font-size: 20px;
}

#viewnlike {
	width: 100%;
	float: right;
	text-align: right;
	margin-bottom: 50px;
}

#bcontent {
	width: 70%;
	height: 100%;
	display: block;
	margin-bottom: 30px;
}

#addBtn, #updateBtn,
#deleteBtn, #listBtn {
	background-color: #eaeaea!important;
}